body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

#list-alarms-box {
	float: right;
	text-align: center;
	width: 250px;
	min-height: 200pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
}

#left-box {
	margin-right: 300px;	
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 200pt;
}

#error-box-alarms {
	border: thin black solid;
	clear: both;
	font-size: 25px;
	font-weight:bold;
	background-color: grey;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
	display: none;
}
#clock-box {
	text-align: center;
}
#clock-box {
	font-size: 30px;
}

#alarm-input {
	font-size: 40px;
	text-align: center;
}
#hour-id {
	float: left;
}
#list-alarms-box {
	display: list-item;
}
